/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 80px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  background-color: black;
}

