---
import Footer from "@/components/Footer.astro";
import Nabvar from "@/components/Nabvar.astro";
interface Props {
  title?: string;
  description?: string;
}
const { title, description } = Astro.props;
import "@styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
	<!-- Primera fuente -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  <!-- Iconos -->
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  </head>
  <body class="container mx-auto">
    <Nabvar />
    <slot />
    <Footer />
  </body>
</html>
